*{
    margin: 0px;
    padding: 0px;
}

.tab-main{
    width: 600px;
    /*height: 600px;*/
    /*margin: 0 auto;*/
    border: 1px solid #ddd;
}
.tab-main .tab-title{
    width:350px;
    height: 39px;
    border:1px solid #ddd;
    list-style: none;
    text-align: center;
    padding-left: 10px;
}

.tab-main .tab-title li{
    float: left;
    width:60px;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    position: relative;
    margin-right: 7px;
}
.tab-main .tab-title li:hover{
    cursor: pointer;
}
.tab-main .tab-title li.active{
    border-bottom: 4px solid red;
}
.tab-main .tab-title span{
    width: 1px ;
    height: 15px;
    position: absolute;
    top:8px;
    left: 63px;
    background:#ddd;
}
.tab-main .tab-cont div{
    width: 300px;
    /*height: 550px;*/
    border:1px solid #a0a;
    margin-top: 10px;
    display: none;
}
.tab-main .tab-cont div.block-active{
    display: block;
}